body{background-color:#DDD;
	font-family: Arial, Calibri, sans-serif;
	font-size:120%}
header{
	background-size: 100% 300%;
	font-family: Arial, Calibri, sans-serif;
	color: #ffffff;
	}
nav{text-align: left;
	background-color: #8A0;
	font-weight: bold;
	margin: 0;
	padding-right: 0;
	padding-bottom: 0.75em;
	
	width: 100%;
	height: auto;
}
nav ul{margin: 0; 
	padding-right: 2em; 
	padding-top: 0.5em;
	font-size: 1.2em; 
	list-style-type: none;
}
nav li{padding-left:4em;
	display: inline;
}
fieldset{
	background-color:#DDD;
}
dt{font-weight:bold;
	font-size:12pt;
	margin-top:10px;
	margin-bottom:4px;
}
td,th{padding:0.25em;
	border: 1px solid #000;
}
nav a:link    {color:#000;}
nav a:visited {color:#000;}
nav a:hover   {color:#FFF;}
nav a{text-decoration: none;}
footer{font-style: italic;
	font-size: small;
	margin-top: 15px;
}

section{padding-left: 3em;
	padding-right: 3em;
}
input,datalist,textarea,select{margin-bottom:1.5em}
#tbanner{
	background-size: 100% 100%;
}
#logo{height: 156px;
	width:156px;
	float:left;
	background-image: url("media/logo-main_no_background.webp");
}
#wrapper{background-color:#FFF;
	margin: auto;
	padding: 2.5em;
	border: .25em;
	border-color: #8A0;
	border-style: solid;
	box-shadow:4px 4px #580;
	width: 85%;
}
#endowment{height: 10vh;
	width:10vw;
	background-size: 100% 100%;
	display: block;
	margin-right: 1.5em;
	background-image: url("media/NEA logo 1.webp");
}
.content{height: 20vh;
	padding-top: 2em;
	padding-left: 10%;
	background-color: #580;
}
.home{height: 35vh;
	padding-top: 2em;
	padding-left: 10%;
}
.dropdown {
		position: relative;
		display: inline-block;
	  }	  
.dropdown-content {
  		display: none;
  		position: absolute;
		z-index: 1;
	  }
.dropdown:hover .dropdown-content {display: block;}
