body{background-color:#DDD;
	font-family: Arial, Calibri, sans-serif;
	font-size:120%}
header{
	background-size: 100% 300%;
	font-family: Arial, Calibri, sans-serif;
	color: #FFF;
	}
nav{text-align: left;
	background-color: #8A0;
	font-weight: bold;
	margin: 0;
	padding-right: 0;
	padding-bottom: 0.75em;
	
	width: 100%;
	height: auto;
}
nav ul{margin: 0; 
	padding-right: 2em; 
	padding-top: 0.5em;
	font-size: 1.2em; 
	list-style-type: none;
}
nav li{padding-left:4em;
	display: inline;
}
fieldset{
	background-color:#DDD;
}
dt{font-weight:bold;
	font-size:12pt;
	margin-top:10px;
	margin-bottom:4px;
}
td,th{padding:0.25em;
	border: 1px solid #000;
}
tr:nth-of-type(even){background-color:#EEE;}
caption{font-size: 120%;
	font-weight: bold;
	margin: .5em;
}
nav a:link    {color:#000;}
nav a:visited {color:#000;}
nav a:hover   {color:#FFF;}
nav a{text-decoration: none;}
footer{font-style: italic;
	font-size: small;
	margin-top: 15px;
}
h2{ font-family:"Times New Roman",serif;
}
section{padding-left: 3em;
	padding-right: 3em;
}
input,datalist,textarea,select{margin-bottom:1.5em}
#carlos{height:200px;
	width:241px;
	background-size: 100% 100%;
	
	display: block;
	float: left;
	margin-right: 1.5em;
}
#tbanner{
	float:right;
	height:2.75em;
	width:6em;
	background-size: 100% 100%;
}
#wrapper{background-color:#FFF;
	margin: auto;
	padding: 2.5em;
	border: .25em;
	border-color: #8A0;
	border-style: solid;
	box-shadow:4px 4px #580;
	width: 85%;
}
#flow{display: grid;
	grid-template-columns:auto auto;
	grid-template-rows:auto;
	margin-bottom:1em;
}
#address{display: grid;
  grid-template-columns:auto auto auto;
  grid-template-rows:auto;
  background-color:#EEE;
  border-color:#8A0;
  border-style: solid;
  padding:.5em;
  margin-bottom:1em;
}
#donate{display: grid;
	grid-template-areas:
		'left top'
		'left bottom';
	grid-template-columns:40vw 40vw;
	grid-template-rows:auto;
	margin-bottom:1em;
}
.wide{max-width: 300px;}
.med{max-width: 225px;}
.thin{max-width: 215px;}
.item1{grid-area:left;}
.item2{grid-area:top;}
.item3{grid-area:bottom;}
.content{height: 25vh;
	padding-top: 2em;
	padding-left: 10%;
}
.home{height: 35vh;
	padding-top: 2em;
	padding-left: 10%;
}
.gallery{display:flex; flex-wrap: wrap;
	justify-content: space-around;
	width:70%; margin:auto;}
figure{position:relative;
	z-index:1; opacity: .75;
	background-color:#FFF;color:rgba(0,0,0,0);
	margin:1em; font-size:.5em;
	transition:all ease-out 1.5s;}
figure:hover {opacity:1; z-index:999;
	box-shadow:3px 3px 3px #333;
	color:rgba(0,0,0,1);
	transform:scale(1.25);}
.dropdown {
		position: relative;
		display: inline-block;
	  }	  
.dropdown-content {
  		display: none;
  		position: absolute;
		z-index: 1;
	  }
.dropdown:hover .dropdown-content {display: block;}