<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About Us</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="styles.css" rel="stylesheet" />
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <a href="index.html"><button id="logo"></button></a>
        </li>
        <li>
          <a href="index.html"><button id="navb">Home</button></a>
        </li>
        <li>
          <div class="dropdown">
            <a href="class.html"><button id="navb">Shop</button></a>
            <div class="dropdown-content">
              <a href="memberdon.html"><button id="navDropdown">Membership</button></a>
              <a href="class.html#artClasses"><button id="navDropdown">Class/Workshop</button></a>
              <a href="events.html#event"><button id="navDropdown">Events</button></a>
              <a href="gallery.html"><button id="navDropdown">Gallery</button></a>
              <a href="merch.html#merch"><button id="navDropdown">Merch</button></a>
            </div>
          </div>
        </li>
        <li>
          <a href="calendar.html"><button id="navb">Calendar</button></a>
        </li>

        <li>
          <div class="dropdown">
            <a href="about.html"><button id="navb">About us</button></a>
            <div class="dropdown-content">
              <a href="about.html#contact">
                <button id="navDropdown">Contact Us</button>
              </a>
              <a href="about.html#history">
                <button id="navDropdown">History</button>
              </a>
            </div>
          </div>
        </li>
        
        <li id="navRight">
          <div class="dropdown">
          <a href="cart.html"><button id="cart"><p id="cartText">0</p></button></a>
          <div class="cartDropdownContent">
              <p>Total: $<span id="cart-total">0.00</span></p>
              <p id="empty">Your cart is Empty.</p>
              <ul id="cart-items"></ul>
            </div>
          </div>
        </li>
        
        <li id="navRight"><input type="text" placeholder="Search.." /></li>
      </ul>
    </nav>
    <header class="content">
      <h1>We are the River Valley Art Center</h1>
    </header>
    <div id="wrapper">
      <main>
        <h2>Board of Directors</h2>
        <div class="grid">
          <div class="gridContent">
            <p class="bold">President:</p>
            <p>Sheri McCullah</p>
          </div>
          <div class="gridContent">
            <p class="bold">Vice President:</p>
            <p>David Coffman</p>
          </div>
          <div class="gridContent">
            <p class="bold">Secretary:</p>
            <p>Sherry Tinerella</p>
          </div>
          <div class="gridContent">
            <p class="bold">Executive Director</p>
            <p>Jennifer Lewter, Ph.D.</p>
          </div>
          <div id="Jennifer"></div>
          <div class="gridContent">
            <p class="bold">Administrative Assistant</p>
            <p>Mrs. Frances Henderson</p>
          </div>
          <div class="gridContent">
            <p class="bold">Outreach Coordinator:</p>
            <p>Cliff A. May</p>
          </div>
          <div class="gridContent">
            <p class="bold">Board Members:</p>
            <p>
              Libby Caston, Lillian Green, Cecelia Langford, Mora Hammer, Alex
              Reyes, Lynn Cox, Phil Wanzer, Ryan Mikles
            </p>
          </div>
        </div>

        <h2 id="contact">Contact Us</h2>
        <p>1001 East B Street, Post Office Box</p>
        <p>2112, Russellville, Arkansas 72801</p>
        <p>Phone: <a href="tel:4799682452">479-968-2452</a></p>
        <p>
          Email:
          <a href="mailto:rvartscenter@gmail.com">rvartscenter@gmail.com</a>
        </p>

        <h2>Follow Us</h2>
        <a href="https://www.instagram.com/rivervalleyartscenter/"
          ><button id="inst"></button
        ></a>
        <a href="https://www.facebook.com/rivervalleyartcenter"
          ><button id="face"></button
        ></a>

        <h2 id="history">Our History</h2>

        <ul>
          <li>
            1936:
            <p>
              WPA built the rock building that would eventually house the River
              Valley Arts Center.
            </p>
          </li>

          <li>
            1981:
            <p>
              After a June planning meeting, a $5,000 grant from the Junior
              Auxiliary, and commitments from community leaders for over
              $10,000, the River Valley Arts Center Foundation, Inc. was formed.
            </p>
            <p>
              The Arts Center officially opened its doors to the public at an
              all day celebration and ribbon cutting ceremony on October 7th in
              the borrowed building on West Main Street.
            </p>
            <p>
              Articles of Incorporation prepared by Lu Hardin were signed in
              December 1981. A Board of Directors was formed and Richard Barton
              served as the first Executive Director.
            </p>
          </li>

          <li>
            1984:
            <p>
              After three years the borrowed building was sold and the arts
              center needed a new home. The City of Russellville agreed to lease
              the rock building built by the WPA in 1936 which had formerly been
              the public pool bathhouse located in the City Park. The building
              was renovated with community donations and labor as well as the
              assistance of Van Horn construction.
            </p>
          </li>

          <li>
            1999:
            <p>
              A Memorial Garden was designed and added to honor the six
              residents who were lost in an airline crash, including then Arts
              Center president Gordon McLerran.
            </p>
          </li>

          <li>
            Now:
            <p>
              The Main building now houses a main gallery space with monthly
              exhibits, a smaller gallery called the New Age Gallery, a
              classroom, gift shop, office, restrooms, galley kitchen and a
              receptionist area. The original pool chemical storage building was
              a challenging renovation, but now functions as a kiln room. A
              small building was donated by City Corporation and moved to its
              current location to house the pottery studio.
            </p>
            <p>
              Most of the operating budget for the River Valley Arts Center
              comes from memberships and support of area residents, with some
              funding from small corporate and foundation grants and the support
              of the Arkansas Arts Council. Class fees go towards supplies and
              paid instructors.
            </p>
            <p>
              A full time Executive Director and a part time administrative
              assistant, and a part time artist in residence comprise the staff
              of the Arts Center. With the help of the Board of Directors,
              community volunteers, and partnerships with area organizations we
              are able to provide an array of visual and performing arts
              programs and venues which enriches the Arkansas River Valley
              communities.
            </p>
          </li>
        </ul>

        <footer>
          © 1981-2023 RIVER VALLEY ARTS CENTER.
          <div id="endowment"></div>

          We are thankful to the National Endowment for the Arts for their
          support of our programs.
        </footer>
        <script src="scripts.js"></script>
      </main>
    </div>
  </body>
</html>
