<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin Pannel</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"  />
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <a href="index"><button id="logo"></button></a>
        </li>
        <li>
          <a href="index"><button id="navb">Home</button></a>
        </li>
        <li>
          <div class="dropdown">
            <a href="class"><button id="navb">Shop</button></a>
            <div class="dropdown-content">
              <a href="memberdon"><button id="navDropdown">Membership</button></a>
              <a href="class#artClasses"><button id="navDropdown">Class/Workshop</button></a>
              <a href="class#event"><button id="navDropdown">Events</button></a>
              <a href="class"><button id="navDropdown">Gallery</button></a>
              <a href="class#merch"><button id="navDropdown">Merch</button></a>
            </div>
          </div>
        </li>
        <li>
          <a href="calendar"><button id="navb">Calendar</button></a>
        </li>

        <li>
          <div class="dropdown">
            <a href="about"><button id="navb">About us</button></a>
            <div class="dropdown-content">
              <a href="about#contact">
                <button id="navDropdown">Contact Us</button>
              </a>
              <a href="about#history">
                <button id="navDropdown">History</button>
              </a>
            </div>
          </div>
        </li>
        
        <li id="navRight">
          <div class="dropdown">
          <a href="cart.html"><button id="cart"><p id="cartText">0</p></button></a>
          <div class="cartDropdownContent">
              <p>Total: $<span id="cart-total">0.00</span></p>
              <p id="empty">Your cart is Empty.</p>
              <ul id="cart-items"></ul>
            </div>
          </div>
        </li>
        
        <li id="navRight"><input type="text" placeholder="Search.." /></li>
      </ul>
    </nav>
    <header class="content">
      <h1>Welcome to Admin</h1>
    </header>
    <div id="wrapper">
      <main>
        
        <form id="admin login" action="#" method="post">
          <label for="username">Username:</label><br>
          <input type="text" id="username" name="username"><br>
          <label for="pasword">Password:</label><br>
          <input type="text" id="pasword" name="password"><br>
          <input type="submit" value="Submit">
        </form>
        {% if current_user.is_authenticated %}
        <form action="/editClass/">
          <input type="submit" value="Edit Classes" />
        </form>
        {% if current_user.is_authenticated %}
        <form action="/editEvents/">
          <input type="submit" value="Edit Events" />
        </form>
        {% if current_user.is_authenticated %}
        <form action="/editMerch/">
          <input type="submit" value="Edit Mechandise" />
        </form>

        <footer>
          © 1981-2023 RIVER VALLEY ARTS CENTER.
          <div id="endowment"></div>

          We are thankful to the National Endowment for the Arts for their
          support of our programs.
        </footer>
        <script src="{{ url_for('static', filename='JS/scripts.js') }}"></script>
      </main>
    </div>
  </body>
</html>
