<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Admin Pannel</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"  />
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <a href="/"><button id="logo"></button></a>
        </li>
        <li>
          <a href="/"><button id="navb">Home</button></a>
        </li>
        <li>
          <div class="dropdown">
            <a href="class"><button id="navb">Shop</button></a>
            <div class="dropdown-content">
              <a href="memberdon"><button id="navDropdown">Membership</button></a>
              <a href="class#artClasses"><button id="navDropdown">Class/Workshop</button></a>
              <a href="class#event"><button id="navDropdown">Events</button></a>
              <a href="class"><button id="navDropdown">Gallery</button></a>
              <a href="class#merch"><button id="navDropdown">Merch</button></a>
            </div>
          </div>
        </li>
        <li>
          <a href="calendar"><button id="navb">Calendar</button></a>
        </li>

        <li>
          <div class="dropdown">
            <a href="about"><button id="navb">About us</button></a>
            <div class="dropdown-content">
              <a href="about#contact">
                <button id="navDropdown">Contact Us</button>
              </a>
              <a href="about#history">
                <button id="navDropdown">History</button>
              </a>
            </div>
          </div>
        </li>
        
        <li id="navRight">
          <div class="dropdown">
          <a href="cart"><button id="cart"><p id="cartText">0</p></button></a>
          <div class="cartDropdownContent">
              <p>Total: $<span id="cart-total">0.00</span></p>
              <p id="empty">Your cart is Empty.</p>
              <ul id="cart-items"></ul>
            </div>
          </div>
        </li>
      </ul>
    </nav>

    <header class="othercontent">
      <h1 id="head1">We have a place for you!</h1>
    </header>
    <div class="banner"></div>

    <div id="wrapper">
      <main>
        <p>
          Our mission is to enrich the vibrancy of the River Valley Community by
          providing collaborative, creative, and diverse programs furthering
          education and appreciation of visual and performing arts for artists
          and patrons of all ages and backgrounds. Our vision is to nurture the
          artistic nature of humanity through meaningful opportunities to
          experience, create, and appreciate art in our community.
        </p>
        <footer>
          © 1981-2023 RIVER VALLEY ARTS CENTER.
          <div id="endowment"></div>

          We are thankful to the National Endowment for the Arts for their
          support of our programs.
        </footer>
        <script src="scripts.js"></script>
      </main>
    </div>
  </body>
</html>
